@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


/* Variables para los colores */
:root{
  --main-red: #6a040f;
  --main-redlight: #910904;
  --main-black: #06071e;
  --main-blackoff:#04040f;
  --main-orange:#dc2f02;
  --main-gray: #aaaca1;
  --main-yellow: #ffba08;
  --main-mangoo: #f48c06;
  --main-white:#ffffff;
}

*{
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(125deg, var(--main-blackoff) 60%, var(--main-black) 100%); /*Degradado de fondo*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
}

section:nth-of-type(odd){
  background-color: var(--main-white);
  color: var(--main-blackoff);
  height: 100vh;
}

.brandon img{
  width: 30%;
}

@media (max-width:400px) {
  
  header{
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    background-color: var(--main-white);
  }

  .nav-toggle{
    border-radius: 20%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 4vw;
    padding: 4vw;
    border: none;
    color: var(--main-mangoo);
    background-color: var(--main-white);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .nav-toggle:active, .nav-toggle:hover{
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3);
  }

  .nav{
    display: none;
    
  }

  .nav.active{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--main-yellow);
    padding: 4vw;
    margin-top: 4vw;
  }

  li{
    margin: 2vw 0;
  }

  .nav-list{
    list-style: none;
  }

}
